@import url(./root.css);
@import url(header.css);


.last_see {
    margin-top: 15px;
    background-color: transparent;
    height: 22vh;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;

}



.book {
    min-width: 100px;
    max-width: 150px;
    /* Ajustez la largeur de la carte selon vos besoins */
    max-height: 100%;
    min-height: 80%;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

}

.book>img {
    height: 150px;
    max-width: 100px;
    /* Les images occupent 100% de la largeur de la carte */
    border-radius: 10px;
    overflow: hidden;
    padding: 5px 0px;

}


@media screen and (min-width:900px) {
    .book>img:hover {
        transform: translateY(-8px);
    }
}

@media screen and (max-width:900px) {
    .last_see {
        overflow-x: scroll;
    }
}

.Genre_Fav {
    height: 10vh;
    display: flex;
    align-items: center;
}

button {
    margin-left: 15px;
    padding: 10px 20px;
    color: white;
    border-radius: 0.3125rem;
    background-color: white;
    border: none;
    min-width: 100px;
}

.Romance {
    background: linear-gradient(97deg, #FF0844 -4.14%, #FFB199 100%);
}

.Fantaisie {
    background: linear-gradient(97deg, #EBC0FD 0%, #D9DED8 100%);
    color: var(--couleur_fond);
}

.Horreur {
    background: linear-gradient(98deg, #F60505 0%, #1D0000 100.97%);
}

.Action {
    background: linear-gradient(97deg, #F83600 0%, #F9D423 100%);
}

.Comique {
    background: linear-gradient(97deg, #F6D365 0%, #FDA085 100%);
}

.Tragique {
    background: linear-gradient(97deg, #434343 0%, #000 100%);
}

@media screen and (max-width:900px) {
    .Genre_Fav {
        overflow-x: scroll;
    }

}

@media screen and (min-width:900px) {
    button:hover {
        transform: translateY(-8px);
    }
}

.Favorite_Author {
    display: flex;
    align-items: center;
}

.Favorite_Author>img {
    margin: 15px 0 0 20px;
    width: 100px;
    border-radius: 100%;
}


@media screen and (max-width:900px) {
    .Favorite_Author {
        overflow-x: scroll;
    }
}

@media screen and (min-width:900px) {
    .Favorite_Author>img:hover {
        transform: translateY(-8px);
    }
}

.all_livres {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.all_livres>img {
    width: 24px;
    margin-left: 10px;
}


.all_book_home {
    margin-top: 15px;
    background-color: transparent;
    height: 22vh;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media screen and (max-width:900px) {
    .all_book_home {
        overflow-x: scroll;
    }
}