[data-theme=dark] {
    --couleur_fond: #121212;
    --couleur_principale: #2B2B2B;
    --couleur_secondaire: #4F46E5;
    --couleur_texte_principal: #fafafa;
    --couleur_texte_input: #1a1a1a;
    --couleur_input: #EDEDED;
}

[data-theme=light] {
    --couleur_fond: #DAE0E6;
    --couleur_principale: #FAFAFA;
    --couleur_secondaire: #4F46E5;
    --couleur_texte_principal: #1A1A1A;
    --couleur_texte_input: #1a1a1a;
    --couleur_input: #EDEDED;
}

:root {
    --couleur_fond: #DAE0E6;
    --couleur_principale: #FAFAFA;
    --couleur_secondaire: #4F46E5;
    --couleur_texte_principal: #1A1A1A;
    --couleur_input: #EDEDED;

}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--couleur_texte_principal);
    transition: 1s;
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--couleur_principale);
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: var(--couleur_secondaire);
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* color on hover */
}

body {
    background-color: var(--couleur_fond);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.content .lang {
    position: absolute;
    top: 25px;
    right: 25px;
}

.content {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 50px;
    position: relative;
    padding: 25px;
}


.content img {
    max-height: 350px;
    min-width: 250px;
    max-width: 250px;
    object-fit: cover;
    border-radius: 10px;
}

#date {
    position: absolute;
    top: 10px;
    left: 25px;
}


.echap {
    --key-text-color: #969faf;
    --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
    --docsearch-key-gradient: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
    border: none;
    background: var(--docsearch-key-gradient);
    border-radius: 3px;
    box-shadow: var(--docsearch-key-shadow);
    color: var(--key-text-color);
    height: 2em;
    text-align: center;
    padding: 0.6em;
    margin: 0 0.6em;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    min-width: 1em;
    line-height: 1em;
    user-select: none;
    transition: 0.4s;
}

.echap:active {
    box-shadow: none;
}

.Accueil {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 30px;
    height: 30px;
    z-index: 2;
    cursor: pointer;
}